* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;

  background: linear-gradient(-45deg, #0f1c3f, #1d4383, #0f1c3f, #331270);
  background-size: 400% 400%;
  animation: fundoMagico 8s ease infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

@keyframes fundoMagico {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  width: 100%;
  max-width: 420px;

  background: #e9e9e9;
  padding: 25px;
  border-radius: 12px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.container > img {
  width: 100%;
  max-width: 160px;
  height: auto;
  margin: 0 auto 10px auto;
  display: block;
}

h1 {
  font-size: 22px;
  color: #4b2a91;
}

p {
  font-size: 14px;
  color: #333;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;

  background-color: #4b2a91;  

}

button:hover {
  transition: 0.3s;
  scale: 1.02;
  background-color: #331fa5;
}


#personagem {
  margin-top: 20px;
  padding: 15px;

  background: #f9f9f9;
  border-radius: 10px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

#personagem img {
  width: 100%;
  max-width: 200px;
  margin: 12px auto;
  display: block;
  border-radius: 8px;
}

#personagem p {
  margin: 5px 0;
}
